<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="https://i.ibb.co/ZNyjQ2g/favicon.jpg" />

		<!-- Bootstrap CSS & Datatables -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css"
		/>

		<title>Bitacora UP</title>
	</head>

	<body>
		<div class="container">
			<div class="card mt-5 p-lg-5 mx-auto shadow">
				<div class="card-body">
					<div class="d-flex justify-content-center">
						<a href="/random" class="btn btn-lg btn-danger p-2 m-4 shadow">
							<i class="bi bi-balloon-heart"></i>
							Click para ver frases random
						</a>
					</div>

					<div class="d-flex justify-content-end mb-4">
						<a href="/create" class="btn btn-lg btn-success shadow">
							<i class="bi bi-plus-circle"></i>
							Agregar
						</a>
					</div>
					<div class="table-responsive">
						<table class="table align-middle" id="frases">
							<thead>
								<tr class="text-center">
									<th scope="col" class="col-1">#</th>
									<th scope="col" class="col-8">Frase</th>
									<th scope="col" class="col-1">Autor</th>
									<th scope="col" class="col-1">Likes</th>
									<th scope="col" class="col-1">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((frases)=> { %>
								<tr>
									<td scope="row" class="text-center"><%= frases.id %></td>
									<td><%= frases.frase %></td>
									<td><%= frases.autor %></td>
									<td class="text-center">
										<button class="btn btn-outline-light text-dark disabled">
											<i class="bi bi-hand-thumbs-up"></i>
											<span class="badge bg-light text-dark"> <%= frases.likes %> </span>
										</button>
									</td>
									<td class="nav-item dropdown text-center">
										<a
											class="nav-link"
											data-bs-toggle="dropdown"
											href="#"
											role="button"
											aria-expanded="false"
										>
											<i class="bi bi-three-dots-vertical text-dark"></i>
										</a>
										<ul class="dropdown-menu">
											<li>
												<button class="dropdown-item" onclick="confirmEdit(<%= frases.id %>)">
													<span>
														<i class="bi bi-pencil-square"></i>
													</span>
													Editar
												</button>
											</li>

											<li>
												<button class="dropdown-item" onclick="confirmDelete(<%= frases.id %>)">
													<span> <i class="bi bi-trash"></i> </span>
													Eliminar
												</button>
											</li>
										</ul>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- Datatable -->
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#frases").DataTable({
					order: [[0, "desc"]],
					language: {
						url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
					},
				});
			});
		</script>

		<!-- Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>

		<!-- Sweet Alert -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<!-- Alert Delete -->
		<script>
			function confirmDelete(id) {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: "btn btn-success",
						cancelButton: "btn btn-danger",
					},
					buttonsStyling: false,
				});

				swalWithBootstrapButtons
					.fire({
						title: "¿Estás seguro que deseas eliminar esta frase?",
						text: "Esta acción no tiene vuelta atrás!",
						icon: "warning",
						showCancelButton: true,
						confirmButtonText: "Si, eliminar",
						cancelButtonText: "Cancelar",
						reverseButtons: true,
					})
					.then((result) => {
						if (result.isConfirmed) {
							Swal.fire({
								icon: "question",
								title: "Contraseña",
								html: `<input type="password" id="password" class="swal2-input" placeholder="Ingresa la contraseña para eliminar">`,
								confirmButtonText: "OK",
								preConfirm: () => {
									const password = Swal.getPopup().querySelector("#password").value;
									if (password === "") {
										Swal.showValidationMessage(`Por favor, ingresa una contraseña`);
									} else if (password === "!pass") {
										Swal.fire({
											position: "center",
											icon: "success",
											title: "¡El registro se ha eliminado correctamente!",
											showConfirmButton: false,
											timer: 4000,
										});
										return (window.location = "/delete/" + id);
									}
								},
							});
						} else if (result.dismiss === Swal.DismissReason.cancel) {
							swalWithBootstrapButtons.fire(
								"Cancelado",
								"Gracias por mantener a salvo la Bitacora 😘",
								"error"
							);
						}
					});
			}
		</script>

		<!-- Alert Edit -->
		<script>
			function confirmEdit(id) {
				Swal.fire({
					icon: "question",
					title: "Contraseña",
					html: `<input type="password" id="password" class="swal2-input" placeholder="Ingresa la contraseña para editar">`,
					confirmButtonText: "OK",
					preConfirm: () => {
						const password = Swal.getPopup().querySelector("#password").value;
						if (password === "") {
							Swal.showValidationMessage(`Por favor, ingresa una contraseña`);
						} else if (password === "!pass") {
							return (window.location = "/edit/" + id);
						}
					},
				});
			}
		</script>
	</body>
</html>
